# Include any files/directories to ignore in the build context
Dockerfile*
docker-compose*.yml
.dockerignore
.git
.github
.env
.env.*
.venv
venv
__pycache__
*.pyc
.pytest_cache/
.mypy_cache/
htmlcov/
site/
docs/
coverage.xml
.coverage
*.log
