[MESSAGES CONTROL]
disable=
    no-member,
    unexpected-keyword-arg,
    logging-fstring-interpolation,
    broad-exception-caught,
    broad-except,
    trailing-whitespace,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    import-error,
    no-name-in-module,
    global-statement,
    unused-import,
    unnecessary-pass,
    redefined-builtin,
    redefined-outer-name,
    unused-argument,
    invalid-name,
    import-outside-toplevel,
    missing-final-newline,
    wrong-import-order,
    line-too-long,
    reimported

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,_,id,db,v

[DESIGN]
max-args=10
max-locals=25
max-branches=20